{% extends 'analysis_base.html' %}

{% block content%}
<div class="eoq" style="overflow:auto;">
    <h1 style="text-align:center;margin:0;">UPSTREAM LINK - Supplier To Health Facility Warehouse</h1>
    <h2 style="text-align:center;margin:0;">CONSUMPTION METHOD DATA SUMMARY FOR 1 MONTH CYCLE</h2>
<table style="padding:1rem;">
    <thead>
    <tr>
        <th>NO</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>PLANNED QTY FOR 1 MONTH</th>
        <th>PLANNED QTY FOR 1 MONTH ORDER COST</th>
        <th>PLANNED QTY FOR 1 MONTH ORDER COST (THOUSANDS)</th>
        <th>ANNUAL PLAN COST</th>
        <th>(AMC) MONTHLY AVERAGE CONSUMPTION</th>
        <th>AMC ADJUSTED FOR STOCK-OUTS</th>
        <th>% CHANGE IN CONSUMPTION </th>
        <th>MINIMUM AMC</th>
        <th>MAXIMUM AMC</th>
        <th>POISSON MODE QUANTITY</th>
        <th>SAFETY STOCK</th>
        <th>QTY TO PROCURE (1-MONTH)</th>
        <th>1-MONTH CYCLE COST OF PROCUREMENT</th>
        <th>1-MONTH CYCLE COST OF PROCUREMENT (THOUSANDS)</th>
        <th>CONSUMPTION ANNUAL PROCUREMENT COST</th>
        <th>BUDGETARY DEFICIT IN PLAN</th>
        <th>PERCENTAGE AVAILABLE FUNDING</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data_df %}
    <tr>
        <td><a href="{% url 'cmethod1cde' i.code %}">{{ i.code }}</a></td>
        <td>{{ i.desc }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.planned_qty_1_month_mean }}</td>
        <td>{{ i.planned_qty_1_month_order_cost }}</td>
        <td>{{ i.planned_qty_1_month_order_cost_thousands }}</td>
        <td>{{ i.annual_plan_cost }}</td>
        <td>{{ i.amc_in_packs }}</td>
        <td>{{ i.amc_adjusted_for_stock_outs }}</td>
        <td>{{ i.percentage_change_in_consumption }}</td>
        <td>{{ i.min_amc }}</td>
        <td>{{ i.max_amc }}</td>
        <td>{{ i.poisson_mode_quantity }}</td>
        <td>{{ i.safety_stock }}</td>
        <td>{{ i.qty_to_procure }}</td>
        <td>{{ i.calculated_1_month_cycle_cost_of_procurement }}</td>
        <td>{{ i.calculated_1_month_cycle_cost_of_procurement_thousand }}</td>
        <td>{{ i.consumption_annual_procurement_cost }}</td>
        <td>{{ i.budget_deficit_in_plan }}</td>
        <td>{{ i.percentage_available_funding }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div style="margin-right: 10px; text-align: center;">
    {% if data_df.has_previous %}
    <a href="{% url 'cmethod1list' %}?page={{ data_df.previous_page_number }}">Previous Page</a>
    {% endif %}
    {% if data_df.has_next %}
    <a href="{% url 'cmethod1list' %}?page={{ data_df.next_page_number }}">Next Page</a>
    {% endif %}
</div>
{% endblock %}
{% block extra_css %}
<style>
    .header{
        background: cornsilk;
    }
    body > div > div.header > p{
        border-top: 1px solid darkcyan;
        border-left: 2px solid darkblue;
        border-radius:10%;
        padding:5px;
    }
    body > div > div.header > p:hover{
        border-top: 2px solid darkblue;
        border-left: 1px solid darkcyan;
        transition:3s;
        transform:scale(1.3)
    }
    .eoq{
        display:flex;
        flex-direction:column;
    }
    h2{
        color: brown;
    }
    h2:hover{
        color:darkcyan;
        transition:3s;
        transform:scaleX(0.5)
    }
    th{
    padding:0;
    color : darkcyan;
    transform: rotateZ(15deg);
    }
    th:hover{
    color : darkcyan;
    transform: rotateZ(360deg);
    transition:2s;
    }
    td{
    border: 1px solid darkblue;
    color:darkblue;
    text-align:center;
    }
    tbody>tr:hover{
    z-index:100;
    transition:2s;
    transform:scale(0.98)
    }
    tbody>tr>td:hover{
    border:0;
    background-color:white;
    color: brown;
    text-align:right;
    z-index:1000;
    transition:2s;
    transform:scale(1.5)
    }
</style>
{% endblock %}