{% extends 'analysis_base.html' %}

{% block content%}
<div style="display:flex;flex-direction:column; align-items:center;">
    <div style="display: flex;
        justify-content: center; padding-top:1rem;">
        <form method="get">
        {% csrf_token %}
            <select name="stat">
                <option value="year_demand" selected>Yearly Demand</option>
                <option value="carrying_cost">Carrying Cost</option>
                <option value="ordering_cost">Ordering Cost</option>
                <option value="economic_order_quantity">Economic Order Quantity</option>
                <option value="annual_carrying_cost">Annual Carrying Cost</option>
                <option value="annual_ordering_cost">Annual Ordering Cost</option>
                <option value="annual_inventory_mgt_cost">Annual Inventory MGT Cost</option>
                <option value="annual_demand_cost">Annual Demand Cost</option>
                <option value="length_of_order_cycle_days">Length Of Order Cycle Days</option>
                <option value="number_cycles_per_year">Number Of Cycles Per Year</option>
                <option value="investment_cost_per_cycle">investment Cost Per Cycle</option>
                <option value="investment_cost_per_year">Investment Cost Per Year</option>
                <option value="annual_total_cost">Annual Total Cost</option>
                <option value="percentage_inventory_mgt_cost">Percentage Inventory Mgt Cost</option>
                <option value="plan_budget_deficit">Plan Budget Deficit</option>
                <option value="percentage_available__funding">Percentage Available Funding</option>
            </select>
            <button type="submit">Draw Graph</button>
        </form>
    </div>

<div class="bk-root side2" style="width: 1300px;min-height:550px;overflow: auto;
    display:flex; flex-direction:column;">
        <div id="results2" style="width:-webkit-fill-available height:-webkit-fill-available
        position:absolute;
        color:cornsilk;background-color: darkblue;"></div>
        {{ the_div | safe }}
        {{ the_script | safe }}
    </div>
</div>
{% endblock %}



