{% extends 'analysis_base.html' %}

{% block content%}
<div style="display:flex;flex-direction:column; align-items:center;">
    <div style="display: flex;
        justify-content: center; padding-top:1rem;">
        <form method="get">
        {% csrf_token %}
            <select name="stat">
                <option value="planned_qty_3_month_mean" selected>Planned Qty 3-Month Mean</option>
                <option value="planned_qty_month_mean">Planned Qty Monthly Mean</option>
                <option value="planned_qty_3_month_order_cost">Planned 3Month Order Cost</option>
                <option value="annual_plan_cost">Annual Plan Cost</option>
                <option value="percentage_change_in_consumption">Percentage Change In Consumption</option>
                <option value="amc_adjusted_for_stock_outs">AMC Adjusted For Stock-Outs</option>
                <option value="amc_adjusted_for_changes">AMC Adjusted For Changes</option>
                <option value="safety_stock">Safety Stock</option>
                <option value="calculated_3_month_qty_to_procure">Calculated 3-Month QTY To Procure</option>
                <option value="calculated_3_month_cycle_cost_of_procurement_in_millions">Calculated 3-Month Cost Of Procurement</option>
                <option value="budget_deficit_in_plan">Budget Deficit In Plan</option>
                <option value="percentage_available_funding">Percentage Available Funding</option>
            </select>
            <button type="submit">Draw Graph</button>
        </form>
    </div>

<div class="bk-root side2" style="width: 1300px;min-height:550px;overflow: auto;
    display:flex; flex-direction:column;">
        <div id="results2" style="width:-webkit-fill-available height:-webkit-fill-available
        position:absolute;
        color:cornsilk;background-color: darkblue;"></div>
        {{ the_div | safe }}
        {{ the_script | safe }}
    </div>
</div>
{% endblock %}



