{% extends 'analysis_base.html' %}

{% block content%}
<div style="display:flex;flex-direction:column; align-items:center;">
    <div style="display: flex;
        justify-content: center; padding-top:1rem;">
        <form method="get">
        {% csrf_token %}
            <select name="stat">
                <option value="mean" selected>Average Consumption of Each Drug</option>
                <option value="sum">Total Consumption of Each Drug</option>
                <option value="price">Price of Each Drug</option>
                <option value="planned_Qty_2Month_Mean">Planned QTY 2 Month Mean</option>
                <option value="months_of_stock">No Of Months Of Stock</option>
                <option value="current_stock">Current Stock</option>
            </select>
            <button type="submit">Draw Graph</button>
        </form>
    </div>

    <div class="bk-root side2" style="width: 1300px;min-height:550px;overflow: auto;
    display:flex; flex-direction:column;">
        <div id="results2" style="width:-webkit-fill-available height:-webkit-fill-available
        position:absolute;
        color:cornsilk;background-color: darkblue;"></div>
        {{ the_div | safe }}
        {{ the_script | safe }}
    </div>
</div>
{% endblock %}



